# EmailJS Configuration (Server-Side)
EMAILJS_SERVICE_ID=service_xr7lyvb
EMAILJS_TEMPLATE_ID=template_7m4qanl
EMAILJS_PUBLIC_KEY=8c4qODvW2YlSacDQT
EMAILJS_PRIVATE_KEY=

# Server Configuration
PORT=3000



